.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter .sort_select {
  position: absolute;
  top: 96px;
  right: 0;
}

.filter > span {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.filter > span > p {
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--purple-500);
  cursor: pointer;
}

.filter > span > p:hover {
  color: var(--purple-400);
}

.filter > span > p:active {
  color: var(--purple-600);
}

.filter > span > .disabled_filter {
  color: var(--grey-600);
}

.filter > span > .input_number:nth-of-type(2) {
  margin: 0 16px 0 8px;
}

@media (max-width: 1000px) {
  .filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter .sort_select {
    position: static;
    width: 100%;
    right: 0;
  }

  .filter > span {
    margin-top: 8px;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .filter > span > p {
    margin-top: 42px;
    padding: 6px 20px 6px 20px;
    border-radius: 20px;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
  }

  .filter > span > .input_number:nth-of-type(2) {
    margin: 0 0 0 0px;
  }
}
