.year_select {
  width: 284px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.year_select > p {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
}

.year_select > div {
  width: 100%;
  margin-top: 8px;
  min-height: 42px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--grey-300);
}

.year_select > .select_active {
  border: 1px solid var(--purple-500);
}

.year_select > div:hover {
  border: 1px solid var(--purple-500);
}

.year_select > div:hover > .select_arrow path {
  stroke: var(--purple-400);
}

.year_select > div > p {
  width: 235px;
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-500);
  display: flex;
  align-items: center;
}

.year_select > div > .selected_release_year {
  color: var(--black);
}

.year_select > div > .select_arrow {
  width: 24px;
  height: 24px;
}

.select_active > .select_arrow {
  transform: rotate(180deg);
}

.select_active > .select_arrow path {
  stroke: var(--purple-500);
}

.year_select > span {
  position: absolute;
  z-index: 2;
  margin-top: 80px;
  width: 100%;
  height: 188px;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--white);
}

.year_select > span > div {
  width: 100%;
  overflow-y: scroll;
}

.year_select > span > div::-webkit-scrollbar {
  width: 4px;
  height: 24px;
}

.year_select > span > div::-webkit-scrollbar-thumb {
  background-color: var(--grey-500);
  border-radius: 20px;
}

.year_select > span > div > p {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
}

.year_select > span > div > p:hover {
  background-color: var(--purple-100);
}

.year_select > span > div > .selected_year {
  background-color: var(--purple-500);
  color: var(--white);
}

.year_select > span > div > .selected_year:hover {
  background-color: var(--purple-500);
}

@media (max-width: 1000px) {
  .year_select {
    margin-top: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
